sudo: required
services:
  - docker

before_install:
  - docker build -t saifulishaq/docker-react -f Dockerfile.dev .

script: 
  - docker run -e CI=true saifulishaq/docker-react npm run test 

deploy:
  provider: elasticbeanstalk
  region: "eu-west-1"
  app: "docker-react"
  env: "Docker-react-env"
  bucket_name: "elasticbeanstalk-eu-west-1-977083441270"
  bucket_path: "docker-react"
  on: 
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: "$AWS_SECRET_KEY"